@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);
section.pieces li {
  padding-left: 0;
  list-style: none;
}
section.pieces li h2 {
  text-transform: uppercase;
  font-size: 2.5em;
}
section.pieces li img {
  float: left;
  margin: 0 50px 0 0;
  border: 1px solid #eee;
}

section.board img {
  -webkit-animation: bdrotate 10s 2s ease-in-out infinite;
  -moz-animation: bdrotate 10s 2s ease-in-out infinite;
  -o-animation: bdrotate 10s 2s ease-in-out infinite;
  -ms-animation: bdrotate 10s 2s ease-in-out infinite;
  animation: bdrotate 10s 2s ease-in-out infinite;
}

@-webkit-keyframes bdrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  8% {
    -webkit-transform: rotate(90deg);
  }

  24% {
    -webkit-transform: rotate(90deg);
  }

  32% {
    -webkit-transform: rotate(180deg);
  }

  48% {
    -webkit-transform: rotate(180deg);
  }

  56% {
    -webkit-transform: rotate(270deg);
  }

  72% {
    -webkit-transform: rotate(270deg);
  }

  80% {
    -webkit-transform: rotate(360deg);
  }

  80.01% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes bdrotate {
  0% {
    -moz-transform: rotate(0deg);
  }

  8% {
    -moz-transform: rotate(90deg);
  }

  24% {
    -moz-transform: rotate(90deg);
  }

  32% {
    -moz-transform: rotate(180deg);
  }

  48% {
    -moz-transform: rotate(180deg);
  }

  56% {
    -moz-transform: rotate(270deg);
  }

  72% {
    -moz-transform: rotate(270deg);
  }

  80% {
    -moz-transform: rotate(360deg);
  }

  80.01% {
    -moz-transform: rotate(0deg);
  }
}

@keyframes bdrotate {
  0% {
    transform: rotate(0deg);
  }

  8% {
    transform: rotate(90deg);
  }

  24% {
    transform: rotate(90deg);
  }

  32% {
    transform: rotate(180deg);
  }

  48% {
    transform: rotate(180deg);
  }

  56% {
    transform: rotate(270deg);
  }

  72% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(360deg);
  }

  80.01% {
    transform: rotate(0deg);
  }
}

section.cards {
  width: 460px;
  float: left;
  text-align: center;
}
section.cards ul {
  padding: 0;
}
section.cards li {
  list-style: none;
}

section.chance.cards.left h2 {
  text-align: center;
}

section.community.cards.right h2 {
  text-align: center;
}

#ch-card1:hover {
  content: url(../images/ch-card1.jpg);
}

#ch-card2:hover {
  content: url(../images/ch-card2.jpg);
}

#ch-card3:hover {
  content: url(../images/ch-card3.jpg);
}

#ch-card4:hover {
  content: url(../images/ch-card4.jpg);
}

#ch-card5:hover {
  content: url(../images/ch-card5.jpg);
}

#cc-card1:hover {
  content: url(../images/cc-card1.jpg);
}

#cc-card2:hover {
  content: url(../images/cc-card2.jpg);
}

#cc-card3:hover {
  content: url(../images/cc-card3.jpg);
}

#cc-card4:hover {
  content: url(../images/cc-card4.jpg);
}

#cc-card5:hover {
  content: url(../images/cc-card5.jpg);
}

body {
  width: 960px;
  margin: auto;
  background: brown url(../images/wood-background-repeating_1.jpg) repeat;
  font-family: "Quattrocento", serif;
}

header {
  background-color: transparent;
  font-size: 50px;
  padding: 20px 0;
}
header img {
  margin: auto;
  display: block;
}

nav {
  background-color: white;
}
nav ul {
  width: 90%;
  margin: auto;
  padding: 0;
}
nav ul li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin: 5px 10px;
  padding: 5px 10px;
  font-weight: bold;
}
nav ul li:hover {
  background: darkgray;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

section {
  font-family: "Istok Web", sans-serif;
  background-color: white;
}

footer {
  width: 920px;
  font-family: "Quattrocento", serif;
  float: left;
  background-color: white;
  width: 960px;
}

.clear {
  clear: both;
  float: none;
}
