section.pieces {
  text-align: center;
  box-shadow: none;
  li {
    h2 {
      text-transform: uppercase;
      font-size: 2.5em;
      box-shadow: none;
    }
    img {
      float: left;
      margin: 0 50px 0 0;
      border: 1px solid #eee;
    }

img.box-shadow
{
    box-shadow: 5px 5px 12px black;
    border-radius: 10px;
}

    p {
      box-shadow: none;
    }

    padding-left: 0;
    list-style: none;
    box-shadow: none;
  }

  ul {
    padding: 20px;
  }
}



