@import "colors";
@import "fonts";
@import "index";
@import "pieces";
@import "board";
@import "cards";
@import "faq";

body {
  width: 960px;
  margin: auto;
  background: brown url(../images/wood-background-repeating_1.jpg) repeat;
  font-family: $main_font;
  overflow-y: scroll;
}

header
{
  background-color: transparent;
  font-size: $header_font_size;
  padding: 20px 0;
  img {
    margin: auto;
    display: block;
  }
}

nav
{
  background-color: lightgray;
  ul
  {
    width: 90%;
    margin: auto;
    padding: 0;
    li
    {
      float: left;
      list-style: none;
      font-size: 20px;
      margin: 5px 10px;
      padding: 5px 10px;
      font-weight: bold;
      &:hover {
         background: gray;
      }
      a
      {
        text-decoration: none;
        color: black;

        &:hover
        {
          background: darkgray;
          font-size: 1.1em;
          color: orange;
        }
      }
    }
  }
}

section
{
  font-family: $content_font;
  background-color: lightgray;
  padding: 10px 30px;
  margin: 10px 0;
  h1
  {
    text-align: center;
  }
}

footer
{
  font-family: $main_font;
  float: left;
  background-color: lightgray;
  width: 960px;
  padding: 0 0 10px 0;
  text-align: center;
  p {
    margin: 30px;
  }
}

.clear {
  clear: both;
  float: none;
}
