@import "colors";
@import "fonts";
@import "index";
@import "pieces";
@import "board";
@import "cards";

body {
  width: 960px;
  margin: auto;
  background: brown url(../images/wood-background-repeating_1.jpg) repeat;
  font-family: $main_font;
}

header
{
  background-color: transparent;
  font-size: $header_font_size;
  padding: 20px 0;
  img {
    margin: auto;
    display: block;
  }
}

nav
{
  background-color: white;
  ul
  {
    width: 90%;
    margin: auto;
    padding: 0;
    li
    {
      float: left;
      list-style: none;
      font-size: 20px;
      margin: 5px 10px;
      padding: 5px 10px;
      font-weight: bold;
      &:hover {
        background: darkgray;
      }
      a
      {
        text-decoration: none;
        color: black;
      }
    }
  }
}

section
{
  font-family: $content_font;
  background-color: white;
}

footer
{
  float: left;
  background-color: white;
  width: 960px;
}

.clear {
  clear: both;
  float: none;
}
