!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header Nashopoly
    %nav
      %ul
        %li Home
        %li Board
        %li Pieces
        %li Cards
        %li Frequently Asked Questions
        %li Contact Us
    %section.board
      %h1
      %img{src: 'images/board.jpg', alt: 'Nashopoly Board'}
