!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img{src:'images/logo_draft copy.png', alt: "Nashopoly logo"}
    %nav
      %ul
        %li Home
        %li Board
        %li Pieces
        %li Cards
        %li Frequently Asked Questions
        %li Contact Us
        .clear
    %section
