!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logo_draft copy.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
    %section.chance.cards.left
      %h2 Chance Cards
      %ul
        %li
          %img#ch-card1{src: 'images/ch-card-back.jpg'}
        %li
          %img#ch-card2{src: 'images/ch-card-back.jpg'}
        %li
          %img#ch-card3{src: 'images/ch-card-back.jpg'}
        %li
          %img#ch-card4{src: 'images/ch-card-back.jpg'}
        %li
          %img#ch-card5{src: 'images/ch-card-back.jpg'}
    %section.community.cards.right
      %h2 Community Chest Cards
      %ul
        %li
          %img#cc-card1{src: 'images/cc-card-back.jpg'}
        %li
          %img#cc-card2{src: 'images/cc-card-back.jpg'}
        %li
          %img#cc-card3{src: 'images/cc-card-back.jpg'}
        %li
          %img#cc-card4{src: 'images/cc-card-back.jpg'}
        %li
          %img#cc-card5{src: 'images/cc-card-back.jpg'}
    .clear
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC
