!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logo_draft copy.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
