!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logo_draft copy.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
    %section
      %h1 Frequently Asked Questions
      %ul
        %li Why does your game look so much like Hasbro's Monopoly?
        %li Shut your cakehole, jerk. Nashopoly looks nothing like Monopoly.
        %li If you contend that Nashopoly was not based on Monopoly, what inspired the game?
        %li We, the creators of this fabled product, were inspired by nothing more than a love of the Athens of the South and a few highballs of Tennessee Tea.
        %li Where can I purchase your Monopoly knockoff?
        %li Nashopoly is not a Monopoly knockoff. Haven't we been over this? Sheesh!
        %li Okay, then where can I purchase "Nashopoly?"
        %li We currently sell Nashopoly at one convenient location in the Nashville airport. Go to concourse C. You can purchase Nashopoly at the kiosk in between gates C8 and C9. Next to the Cinnabon.
        %li Question
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, numquam, eius beatae obcaecati excepturi vitae! Voluptatem, qui possimus doloremque quo earum eum laudantium inventore quod! Sapiente quas cumque beatae distinctio!
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC




