!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logo_draft copy.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
    %section
      %h1 Frequently Asked Questions
      %ul
        %li Why does your game look so much like Hasbro's Monopoly?
        %li Shut your cakehole, jerk. Nashopoly looks nothing like Monopoly.
        %li If you contend that Nashopoly was not based on Monopoly, what inspired your
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, adipisci     fugit ex repellendus suscipit neque dolor doloribus eaque earum inventore aliquam illum minus laboriosam. Quidem vel autem eaque necessitatibus quos.
        %li Question
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, maxime illum magni nihil accusamus autem modi dicta sint nesciunt doloribus minima adipisci blanditiis corporis atque minus delectus perferendis iste aliquid!
        %li Question
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nostrum delectus repellat saepe ipsa totam reprehenderit quae aspernatur doloremque dolorem quasi odio perspiciatis eaque accusamus quos voluptate corrupti incidunt temporibus!
        %li Question
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, numquam, eius beatae obcaecati excepturi vitae! Voluptatem, qui possimus doloremque quo earum eum laudantium inventore quod! Sapiente quas cumque beatae distinctio!
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC




