!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    #wrapper
      %header
        %img.header{src: 'images/logofinal.png', alt:'Nashopoly Logo'}
        .clear
      %nav#navbar
        %ul
          %li
            %a{href: 'index.html'} Home
          %li
            %a{href: 'board.html'} Board
          %li
            %a{href: 'pieces.html'} Pieces
          %li
            %a{href: 'cards.html'} Cards
          %li
            %a{href: 'faq.html'} Frequently Asked Questions
          %li
            %a{href: 'contact.html'} Contact Us
        .clear
      %section.top
        %h2 Welcome to RSB Concepts, makers of NASHOPOLY
        %p RSB Concepts was started in Scott's mom's basement 10 short years ago, and is now a thriving multi-billion dollar corporation. On the strength of RSB's flagship product, Nashopoly, the RSB family has built its internationally famous brand of board games. Thanks for stopping by - and while you're here, be sure to check out this classy video:
        .content

        #video <iframe width="800" height="600" src="http://youtube.com/embed/cgmZudf_j3E" frameborder="0" allowfullscreen></iframe>

      %section.bottom
        .content
          %h3 About Nashopoly
          %p Due to a pending lawsuit in United States District Court for the Middle District of Tennessee, Nashville Division, the makers of Nashopoly are obligated to inform visitors to this site that we are in no way affiliated with Hasbro. Nashopoly is nothing like Monopoly. Seriously, guys.
      %footer
        %p &copy; Copyright 2013, RSB Concepts LLC
