!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      .header_text Nashopoly 687867768678
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
    %section.top
      %h2
      <iframe width="560" height="315" src="http://www.youtube.com/embed/b93mTVukuiE" frameborder="0" allowfullscreen></iframe>
      .content
    %section.bottom
      .content
        %h1
        %p
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC





