!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header Nashopoly
    %nav
      %ul
        %li Home
        %li Board
        %li Pieces
        %li Cards
        %li Frequently Asked Questions
        %li Contact Us
    %section.top
      <iframe width="560" height="315" src="http://www.youtube.com/embed/b93mTVukuiE" frameborder="0" allowfullscreen></iframe>
      .content
    %section.bottom
      .content
        %h1
        %p
    %footer
      %img{src: 'images/hasbro.jpg'}
      %p &copy; Copyright 2013, RSB Concepts LLC





