!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Pieces
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logofinal.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
    %section.pieces
      %h1 Pieces available for Nashopoly
      %ul
        %li
          %img.boxshadow{src: 'images/pieces-guitar.jpg', alt: 'Guitar Piece'}
          %h2 Guitar
          %p.guitar The gitfiddle. Ever a symbol of our fair city, the guitar brings scores of talented individuals to Nashville, where they go on to staff our city's many bars and restaurants.
          .clear
        %li
          %img.boxshadow{src: 'images/pieces-batman.jpg', alt: 'AT&T (Batman) Building Piece'}
          %h2 AT&T Tower
          %p The iconic "Batman Building" is perhaps the most striking piece of the Music City skyline. Because it looks like Batman. Also, there is a Chick-fil-A in there. While we do not condone the stance Chick-fil-A takes on social issues, we have to admit that the chicken is delicious. This is a hot button issue at our corporate headquarters, which are located in a shed beside the walk-in cooler in the parking lot of International Famous Twin Kegs on Thompson Lane.
          .clear
        %li
          %img.boxshadow{src: 'images/pieces-boot.jpg', alt: 'Boot Piece'}
          %h2 Boot
          %p Would a Nashville version of anything really be complete without some reference to boots? These boots are made for walking.
          .clear
        %li
          %img.boxshadow{src: 'images/pieces-titans.jpg', alt: 'Titans Piece'}
          %h2 Titans
          %p In 1999, we totally almost won the Superbowl. Are YOU ready for some football?
          .clear
        %li
          %img.boxshadow{src: 'images/pieces-cowboyhat.jpg', alt: 'Cowboy Hat Piece'}
          %h2 Cowboy Hat
          %p These iconic symbols of Music City are often worn by panhandlers and tourists.
          .clear
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC
