!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Pieces
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
    %nav
    %section
      %h1 Pieces available for Nashopoly
      %ul
        %li
          %img{src: 'images/pieces-guitar.jpg', alt: 'Guitar Piece'}
        %li
          %img{src: 'images/pieces-batman.jpg', alt: 'AT&T (Batman) Building Piece'}
        %li
          %img{src: 'images/pieces-boot.jpg', alt: 'Boot Piece'}
        %li
          %img{src: 'images/pieces-titans.jpg', alt: 'Titans Piece'}
        %li
          %img{src: 'images/pieces-cowboyhat.jpg', alt: 'Cowboy Hat Piece'}
    %footer
