!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Pieces
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img.header{src: 'images/logofinal.png', alt:'Nashopoly Logo'}
      .clear
    %nav#navbar
      %ul
        %li
          %a{href: 'index.html'} Home
        %li
          %a{href: 'board.html'} Board
        %li
          %a{href: 'pieces.html'} Pieces
        %li
          %a{href: 'cards.html'} Cards
        %li
          %a{href: 'faq.html'} Frequently Asked Questions
        %li
          %a{href: 'contact.html'} Contact Us
      .clear
    %section.pieces
      %h1 Pieces available for Nashopoly
      %ul
        %li
          %img{src: 'images/pieces-guitar.jpg', alt: 'Guitar Piece'}
          %h2 Guitar
          %p The gitfiddle... Ever a symbol of our fair city
          .clear
        %li
          %img{src: 'images/pieces-batman.jpg', alt: 'AT&T (Batman) Building Piece'}
          %h2 AT&T Tower
          %p The iconic "Batman Building"
          .clear
        %li
          %img{src: 'images/pieces-boot.jpg', alt: 'Boot Piece'}
          %h2 Boot
          %p Would a Nashville version of anything really be complete without some reference to boots?
          .clear
        %li
          %img{src: 'images/pieces-titans.jpg', alt: 'Titans Piece'}
          %h2 Titans
          %p In 1999, we totally almost won the Superbowl.
          .clear
        %li
          %img{src: 'images/pieces-cowboyhat.jpg', alt: 'Cowboy Hat Piece'}
          %h2 Cowboy Hat
          %p These iconic symbols of Music City are often worn by panhandlers and tourists.
          .clear
    %footer
      %p &copy; Copyright 2013, RSB Concepts LLC
